/* FONTS  */

// LIGHT 
@font-face {
    font-family: 'Zeitung Pro Light';
    src: url('../fonts/ZeitungPro-Light.eot');
    src: url('../fonts/ZeitungPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZeitungPro-Light.woff2') format('woff2'),
        url('../fonts/ZeitungPro-Light.woff') format('woff'),
        url('../fonts/ZeitungPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
// REGULAR
@font-face {
    font-family: 'Zeitung Pro Regular';
    src: url('../fonts/ZeitungPro-Regular.eot');
    src: url('../fonts/ZeitungPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZeitungPro-Regular.woff2') format('woff2'),
        url('../fonts/ZeitungPro-Regular.woff') format('woff'),
        url('../fonts/ZeitungPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// BOLD
@font-face {
    font-family: 'Zeitung Pro Bold';
    src: url('../fonts/ZeitungPro-Bold.eot');
    src: url('../fonts/ZeitungPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZeitungPro-Bold.woff2') format('woff2'),
        url('../fonts/ZeitungPro-Bold.woff') format('woff'),
        url('../fonts/ZeitungPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
// BLACK 
@font-face {
    font-family: 'Zeitung Pro Black';
    src: url('../fonts/ZeitungPro-Black.eot');
    src: url('../fonts/ZeitungPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZeitungPro-Black.woff2') format('woff2'),
        url('../fonts/ZeitungPro-Black.woff') format('woff'),
        url('../fonts/ZeitungPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/* VARIABLES */
:root{
    --fontRegular: 'Zeitung Pro Regular';
    --fontBlack: 'Zeitung Pro Black';
    --fontBold: 'Zeitung Pro Bold';
    --fontLight: 'Zeitung Pro Light';
    --blue-color: #29256a;
    --white-color: #fff;
    --light-white: #f1f1f2;
    --white-minOpacity: rgba(241,241,242, 0.5);
    --rotate90degLeft: rotate(-90deg);
}

/* BASIC SETTINGS  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; 
}

button:focus,
.btn:focus { 
    outline:0; 
    box-shadow: none; 
    border: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul li {
    list-style: none;
}

// HEADINGS 
h1,h2,h3,.h1,.h2 {
    text-transform: uppercase;
    font-family: var(--fontRegular);
    font-weight: 400;
    color: var(--blue-color);
    letter-spacing: 5px;
    
}

h1,.h1 {
    font-size: 115px;
    line-height: 120px;
    margin-bottom: 70px;
}

h2,.h2 {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 70px;
}

h3 {
    font-family: var(--fontBold);
    font-size: 25px;
    line-height: 38px;
    color: var(--blue-color);
    margin-bottom: 25px;
}

//RESPONSIVE HEADINGS 
@media screen and (max-width:1199px) {
    h1,.h1,h2,.h2 {
        margin-bottom: 40px;
    }
    h3 {
        margin-bottom: 10px;
    }
    h1,.h1 {
        font-size: 70px;
        line-height: 80px;
    }
    h2,.h2 {
        font-size: 50px;
        line-height: 60px;
    }
}
@media screen and (max-width:575px) {
    h1,.h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2,.h2 {
        font-size: 35px;
        line-height: 45px;
    }   
}
@media screen and (max-width:320px) {
    h1,.h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h2,.h2 {
        font-size: 28px;
        line-height: 38px;
    }  
}

body {
    font-family: var(--fontRegular);
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    color: var(--blue-color);
    text-align: left;
    letter-spacing: 1.5px;
    background: url(../images/background-big.png) no-repeat;
    background-position-x: 700px;
    background-position-y: 0px;
}

body.mainPages {
    background: none;
}

@media screen and (max-width: 1199px) {
    body {
        background-position-x: 500px;
        background-position-y: -140px
    }
}
@media screen and (max-width: 991px){
    body {
        background-position-x: 300px;
        background-position-y: -700px;
    }
}
@media screen and (max-width: 767px) {
    body {
        font-size: 18px;
        line-height: 30px;
        background-size: 100%;
        background-position-x: right;
        background-position-y: top;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover,a:focus {
    color: inherit;
    text-decoration: none;
}

.bookBtn {
    font-family: var(--fontBold);
    font-size: 18px;
    color: var(--blue-color);
    text-transform: lowercase;
    letter-spacing: 1px;
}

.discover {
    position: absolute;
    bottom: 45px;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--blue-color);
    margin: 0px -40px;
    transform: var(--rotate90degLeft);
}

@media screen and (max-width: 1199px) {
    .discover { 
        font-size: 18px;
    }
}
@media screen and (max-width: 767px) {
    .discover { 
        bottom: 0px !important;
        right: 20px;
        margin: 0px 0px;
        transform: none;
    }
}

// MARGIN TOP OFFSET 
.marginTop-offset {
   margin-top: 120px;
}

@media screen and (max-width: 767px) {
    .marginTop-offset {
        margin-top: 70px;
     }
}


// POSITIONING HEADINGS 
.rightHeading {
    padding-right: 100px;
}

.leftHeading {
    padding-left: 100px;
}

@media screen and (max-width: 1199px) {
    .rightHeading {
        padding-right: 80px;
    }
    .leftHeading {
        padding-left: 80px;
    }
}
@media screen and (max-width: 991px) {
    .rightHeading {
        padding-right: 60px;
    }
    .leftHeading {
        padding-left: 60px;
    }
}
@media screen and (max-width:575px){
    .rightHeading {
        padding-right: 10px;
    }
    .leftHeading {
        padding-left: 10px;
    }
}

// MAIN NAVBAR
.main-navbar {
    padding: 20px 30px;
    opacity: 0;
    visibility: hidden;
}
  
.main-navbar.displayNav {
    opacity: 1;
    visibility: visible;
}
  
.main-navbar .hamburger {
    width: 35px;
    height: 15px;
    background: none;
    position: relative;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
    z-index: 100;
}

.main-navbar .hamburger::after,
.main-navbar .hamburger::before {
    content: "";
    width: 100%;
    height: inherit;
    background: url(../images/menu-wave.png) no-repeat;
    display: block;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.main-navbar .close.hamburger::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-navbar .close.hamburger::after {
    -webkit-transform: translate(6px, -15px) rotate(-45deg);
    transform: translate(6px, -15px) rotate(-45deg);
}

.main-navbar .hamburger.close {
    opacity: 1 !important;
}

.overlay-nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--light-white);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.4s ease-in, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in;
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in, -webkit-transform 0.5s ease-in-out;
}

.overlay-nav.reveal-nav {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.overlay-nav .menu {
    list-style: none;
    text-align: center;
}

.overlay-nav .menu-item {
    color: var(--blue-color);
    text-decoration: none;
    font-size: 25px;
    opacity: 0;
    -webkit-transform: translate(-20em);
    transform: translate(-20em);
    display: block;
    text-transform: uppercase;
    -webkit-transition: opacity 0.5s ease-in, -webkit-transform 0.8s ease-in-out;
    transition: opacity 0.5s ease-in, -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in;
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in, -webkit-transform 0.8s ease-in-out;
}

.overlay-nav .menu li + li {
    margin-top: 1em;
}

.overlay-nav .reveal-items .menu-item {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
}

.overlay-nav .reveal-items li:nth-child(1) .menu-item {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.overlay-nav.reveal-items li:nth-child(2) .menu-item {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.overlay-nav .reveal-items li:nth-child(3) .menu-item {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.overlay-nav .reveal-items li:nth-child(4) .menu-item {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.overlay-nav .reveal-items li:nth-child(5) .menu-item {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.overlay-nav .reveal-items li:nth-child(6) .menu-item {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.overlay-nav .reveal-items li:nth-child(7) .menu-item {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

// HEADER MENU 
.header {
    padding: 20px 30px 0px;
}

.header .languages {
    font-family: var(--fontLight);
}

.header .languages a{
    font-size: 18px;
    color: var(--blue-color);
}

.header .header_btn {
    position: relative;
}

.header .header_btn::after, .header .header_btn::before{
    position: absolute;
    content: '';
    height: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    background: url(../images/menu-wave.png) no-repeat;
    transition:.5s;
}

.header .header_btn::before{ 
    top: 0px; 
}

.header .header_btn::after {
    bottom: -10px; 
}

.header .bigLogo {
    width: 80px;
}
//RESPONSIVE HEADER MENU 
@media screen and (max-width:991px) {
    .header .bigLogo {
        width: 65px;
    }
}

// BOOKING ROW 
.bookingRow form  {
    color: var(--blue-color);
    font-family: var(--fontBold);
    font-size: 22px;
    border: none;
}

.bookingRow form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    color: var(--blue-color);
    font-size: 22px;
    padding-left: 10px;
    display: none !important;
    border: none;
    cursor: pointer;
}

.bookingRow .field {
    cursor: pointer;
}

.bookingRow label { 
    cursor: pointer;
}

.bookingRow .rotated-field {
    transform: rotate(-90deg);
    transition: all .3s linear;
}

.bookingRow .rotated-field input {
    display: none;
}

.bookingRow .hover-removeRotation select{
    display: inline-block !important;
}

.bookingRow .hover-removeRotation input {
    display: inline-block !important;
}

.bookingRow .hover-removeRotation {
    transform: rotate(0deg);
}

/*SCROLL UP */
.toTop {
    text-align: right;
}
a.scrollup, a:hover.scrollup,a.scrollup::before {
    display: inline-flex;
    align-items: center;
    width:40px;
    height:40px;
    background:url(../images/scrollup.png) no-repeat center center!important;
    bottom: 25px;
    position: fixed;
    right: 25px;
    text-indent: -9999px;
    text-decoration: none;
    padding: 0px 0px;
    color: var(--blue-color);
    z-index: 10;
}

// HOMEPAGE 

// INTRO SECTION 
.introSection {
    margin-top: -120px;
}

.introSection .item{ 
    padding: 100px;
}
.introSection .intro-box {
    position: relative;
    top: -83px;
    left: 37px;
    float: right;
    background-color: var(--white-color);
    padding: 0px;
}

.introSection h1 { 
    margin-bottom: 0px;
    line-height: 65px;
    height: 83px;
}
//RESPONSIVE INTRO SECTION 
@media screen and (min-width: 1400px) {
    .introSection {
        margin-top: -120px;
    }
    .introSection .item{ 
        padding: 50px;
    }
}
@media screen and (max-width:1199px) {
    .introSection h1 {
        line-height: 40px;
        height: 51px;
    }
    .introSection .intro-box {
        top: -50px;
        left: 25px;
    }
}
@media screen and (max-width: 991px) {
    .introSection {
        margin-top: -20px;
    }
    .introSection .item{ 
        padding: 50px;
    }
}
@media screen and (max-width: 767px) {
    .introSection {
        margin-top: 45px;
    }
    .introSection .item{ 
        padding: 0px;
    }
}
@media screen and (max-width:575px) {
    .introSection h1 {
        line-height: 23px;
        height: 29px;
    }
    .introSection .intro-box {
        top: -28px;
        left: 15px;
    }
}

// EXPERIENCE SECTION 
.experience {
    background: url(../images/background-waves.png) no-repeat;
    background-position-x: right;
    background-position-y: 800px;
}

.experience .experienceText {
    background-color: var(--white-color);
    width: 400px;
    padding-bottom: 10px;
    position: absolute;
    text-align: left;
    top: -10%;
    right: 0%;
}

.experience .discover {
    bottom: 45px;
}
//RESPONSIVE EXPERIENCE SECTION
@media screen and (max-width: 1199px) {
    .experience {
        background-position-y: 0%;
        background-size: 70px;
    }
} 
@media screen and (max-width:991px) {
    .experience .experienceText {
        top: -3%;
    }
} 
@media screen and (max-width: 575px) {
    .experience .experienceText {
        position: relative;
        padding: 10px;
        left: 0;
        top: 0;
        width: auto;
    }
    .experience .container {
        text-align: left !important;
    }
    .overlay-nav .menu-item {
        font-size: 20px;
    }
    .experience .discover {
        bottom: -10px !important;
    }
}

// JOIN HOSPITALITY SECTION
.joinHospitality{
    background: url(../images/background-waves.png) no-repeat;
    background-position-x: left;
    background-position-y: 60%;
}
.joinHospitality .joinHospitality-box {
    background-color: var(--white-minOpacity);
    color: var(--blue-color);
    padding: 20px 15px;
    position: absolute;
    bottom: 30px;
    left: -45px;
    width: 300px;
    transition: .5s linear;
    text-align: left;
}

.joinHospitality .item {
    position: relative;
    cursor: pointer;
    transition: .3s linear;
}

.joinHospitality .item:hover .joinHospitality-box {
    background-color: var(--blue-color);
    color: var(--white-color);
    transition: .5s linear;
}

.joinHospitality .joinHospitality-box .title {
    font-family: var(--fontBold);
    font-size: 22px;
    line-height: 30px;
    text-transform: initial;
    margin-bottom: 0;
    letter-spacing: inherit;
}
//RESPONSIVE JOIN HOSPITALITY SECTION
@media screen and (max-width: 1199px) {
    .joinHospitality{
        background-size: 70px;
    }
}
@media screen and (max-width: 991px) {
    .joinHospitality .joinHospitality-box .title {
        font-family: var(--fontBold);
        font-size: 18px;
        line-height: 26px;
    }
    .joinHospitality .joinHospitality-box {
        padding: 20px 10px;
        left: -25px;
        width: 235px;
    }
    .joinHospitality{
        background-position-y: 5%;
        background-position-x: right;
    }
}
@media screen and (max-width: 575px) {
    .joinHospitality{
        background-position-y: 0%;
        background-size: 70px;
    }
    .joinHospitality .col-12{
        flex-direction: column;
    }
    .joinHospitality .item {
        margin: 0 !important;
        margin-bottom: 3rem !important;
    }
    .joinHospitality .joinHospitality-box {
        left: 0px;
        width: 280px;
    }
}

// OUR HOSPITALITY CATEGORIES SECTION  
.hospitalityCategories{
    padding-top: 120px;
    background: url(../images/background-gold.png) no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 150px;
}

.hospitalityCategories .hospitalityCategoriesLogo {
    width: 140px;
}
//RESPONSIVE OUR HOSPITALITY CATEGORIES SECTION  
@media screen and (max-width:991px){
    .hospitalityCategories{
        padding-top: 60px;
    }
    .hospitalityCategories .hospitalityCategoriesLogo {
        width: 120px;
    }
}
@media screen and (max-width:575px){
    .hospitalityCategories{
        padding-top: 20px;
        background-size: 70px;
    }
}

// DISCOVER SECTION 
// TABS SECTION 
.discoverCrete {
    padding-top: 120px;
    overflow-x: hidden;
    background: url(../images/backgroundWaves-White.png) no-repeat right top;
    background-size: 400px;
}

.discoverCrete .container {
    padding-top: 60px;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    opacity: 0;
    visibility: hidden;
    background: none;
    border: none;
}

#tabs .nav-tabs .nav-link {
    color: var(--blue-color);
    font-size: 20px;
    position: relative;
    z-index: 10;
    border: none;
    padding: 10px 20px;
    transform: var(--rotate90degLeft);
    transition: all .5s linear;
} 

#tabs .nav-tabs {
    border:none;
}

#tabs .fade {
    transition: opacity .45s linear;
}

#tabs .discoverCrete-box {
    position: absolute;
    top: 0px;
    text-align: left;
    width:320px;
    font-size: 18px;
    background: white;
    z-index: 2;
}

#tabs .discoverCrete-box p {
    margin: 0;
}

#tabs #nav-heraklion .discoverCrete-box{
    right: 20px;
}

#tabs #nav-crete .discoverCrete-box {
    left: -20px;
}

#tabs #nav-galini .discoverCrete-box {
    left: 240px;
}

#tabs #nav-herso .discoverCrete-box {
    right: 260px;
}

.discoverCrete .discover{
    bottom: 65px;
}
//RESPONSIVE DISCOVER SECTION 
@media screen and (min-width: 1400px) {
    #tabs .discoverCrete-box {
        position: absolute;
        top: 0px;
        text-align: left;
        width: 420px;
        background: white;
        z-index: 2;
    }
    #tabs #nav-crete .discoverCrete-box {
        left: -110px;
    }
    #tabs #nav-herso .discoverCrete-box {
        right: 230px;
    }
    #tabs #nav-heraklion .discoverCrete-box {
        right: -110px;
    }
    #tabs #nav-galini .discoverCrete-box {
        left: 180px;
    }
}
@media screen and (max-width:1199px) {
    .discoverCrete .discover {
        bottom: 52px !important;
    }
    .discoverCrete  {
        background-size: 300px;
    }
}
@media screen and (max-width:1199px) and (min-width: 992px) {
    #tabs .discoverCrete-box {
        width: 270px;
        font-size: 16px;
        line-height: 30px;
    }
    
    #tabs #nav-crete .discoverCrete-box {
        left: 0px;
    }
    #tabs #nav-galini .discoverCrete-box {
        left: 200px;
    }
    #tabs #nav-herso .discoverCrete-box {
        right: 230px;
    }
    #tabs #nav-heraklion .discoverCrete-box {
        right: 0px;
    }
}
@media screen and (max-width:991px) and (min-width: 768px) {
    #tabs .discoverCrete-box {
        width: 280px;
        font-size: 14px;
        line-height: 24px;
        bottom: 0px;
        top: auto;
    }
    #tabs .nav-tabs .nav-link {
        font-size: 18px;
        padding: 10px 12px;
    }
    #tabs #nav-heraklion .discoverCrete-box{
        left: 0;
    }
    #tabs #nav-crete .discoverCrete-box {
        left: 0;
    }
    #tabs #nav-galini .discoverCrete-box {
        left: 0;
    }
    #tabs #nav-herso .discoverCrete-box {
        left: 0;
    }
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (max-width: 767px){
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        opacity: 1;
        visibility: visible;
    }
    #tabs .discoverCrete-box {
        width: auto;
        font-size: 16px;
        line-height: 32px;
        position: static;
        padding: 10px;
    }
    .discoverCrete .discover { 
        bottom: -5px !important;
    }
    #tabs .nav-tabs .nav-link {
        font-size: 16px;
        padding: 0px
    }
}
@media screen and (max-width:575px){
    .discoverCrete {
        padding-top: 20px;
    }
}
@media screen and (max-width: 480px) {
    #tabs .nav-tabs .nav-link {
        font-size: 14px;
        line-height: 16px;
        width: 25%;
    }
    #tabs .nav {
        flex-wrap: nowrap;
    }
}

// OUR HOTELS SECTION 
.ourHotels{
    background: url(../images/background-waves.png) no-repeat top right;
}
.ourHotels .container{
    padding-top: 30px;
    
}
.ourHotels .ourHotelsLogo {
    width: 280px;
    margin-bottom: 70px;
}
//RESPONSIVE OUR HOTELS SECTION 
@media screen and (max-width:1199px) {
    .ourHotels {
        background-size: 70px;
    }
}
@media screen and (max-width:991px){
    .ourHotels .ourHotelsLogo {
        width: 230px;
    }
}

//MAGAZINE SECTION
.magazine .magazine-box {
    background-color: var(--blue-color);
    padding: 12px 20px;
    position: absolute;
    bottom: 30px;
    left: -20px;
    width: 85%;
    opacity: 0;
    visibility: hidden;
    transition: .5s linear;
}

.magazine .item {
    position: relative;
    cursor: pointer;
    transition: .3s linear;
}

.magazine .item:hover .magazine-box {
    opacity: 1;
    visibility: visible;
    background-color: var(--blue-color);
    padding: 12px 20px;
    transition: .5s linear;
}

.magazine .magazine-box .title {
    font-family: var(--fontRegular);
    color: var(--white-color);
    font-size: 32px;
    text-transform: initial;
    margin-bottom: 0;
    letter-spacing: inherit;
}

.magazine .magazine-box .title span {
    display: block;
    font-size: 21px;
    line-height: 32px;
    margin-top: 10px;
}
//RESPONSIVE MAGAZINE SECTION
@media screen and (max-width:1199px) {
    .magazine .magazine-box {
        padding: 10px 18px;
    }
    .magazine .magazine-box .title {
        font-size: 24px;
    }
    .magazine .magazine-box .title span {
        font-size: 18px;
        line-height: 28px;
        margin-top: 0px;
    }
}
@media screen and (max-width:767px) {
    .magazine .magazine-box {
        padding: 10px 15px;
    }
    .magazine .magazine-box .title {
        font-size: 20px;
    }
    .magazine .magazine-box .title span {
        font-size: 16px;
        line-height: 24px;
    }
}

// NEWSLETTER SECTION 
.newsletter {
    margin-top: 80px;
}

.newsletter form{
    position: relative;
}

.newsletterform {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.newsletter form::before {
    content: "";
    background: url(../images/images_sections/pool-newsletter.jpg) no-repeat center center;
    height: 400px;
    width: 100%;
}

.newsletter .form-group {
    background-color: var(--white-minOpacity);
    align-items: center;
    padding: 10px 15px;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.newsletter .form-control {
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white-color);
}

.newsletter .form-control:focus {
    box-shadow: none;
}

.newsletter label {
    font-family: var(--fontBold);
    line-height: 30px;
    width: 300px;
    font-weight: bold;
}

.newsletter .sendBtn {
    position: relative;
    top: -60px;
    float: right;
    align-self: flex-end;
    background-color: var(--blue-color);
    padding: 10px 10px;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}
// RESPONSIVE NEWSLETTER SECTION
@media screen and (max-width: 767px) {
    .newsletter label {
        width: 250px;
        font-size: 16px;
    }
    .newsletter .form-group {
        width: 350px;
    }
    .newsletter .sendBtn {
        font-size: 16px;
    }
}
@media screen and (max-width:575px){
    .newsletter .form-group {
        width: auto;
        padding: 10px 8px;
    }
    .newsletter .sendBtn {
        top: 10px;
        font-size: 14px;
        padding: 6px 10px;
    }
    .newsletterform {
        bottom: 80px;
    }
    .newsletter label {
        font-size: 14px;
    }
}

// FOOTER SECTION 
.footer .footerLogo {
    cursor: pointer;
}

.footer .footerRightSide {
    padding-top: 80px;
    border-top: 10px solid var(--blue-color);
}

.footer .footerContactDetails p{
    font-family: var(--fontLight);
    font-size: 17px;
    line-height: 26px;
    color: var(--blue-color);
    margin-bottom: 20px;
}
.footer .footerContactDetails span {
    font-family: var(--fontBold);
    line-height: 24px;
}
.footer .footerContactDetails a {
    color: var(--blue-color);
}

.footer .footerSocial img{
    width: 30px;
}
.footer .bottomMenu li {
    line-height: 26px;
    margin-bottom: 15px;
}

.footer .bottomMenu a{
    color: var(--blue-color);
    font-family: var(--fontLight);
    font-size: 17px;
    text-transform: uppercase;
}
// RESPONSIVE FOOTER 
@media screen and (max-width: 991px) {
    .footer .bottomMenu li {
        line-height: 20px;
        margin-bottom: 12px;
    }
    .footer .bottomMenu a{
        font-size: 14px;
    }
    .footer .footerContactDetails p {
        font-size: 14px;
        line-height: 24px;
    }
    .footer .footerSocial img {
        width: 28px;
    }
    .footer .footerRightSide {
        padding-top: 50px;
    }
    .footer .footerLogo {
        width: 70px;
    }
}


// CAROUSELS 

// MAGAZINE CAROUSEL 
.magazineCarousel.owl-carousel.owl-drag .owl-item {
    padding: 0px 10px;
}

.magazineCarousel.owl-carousel .owl-nav .owl-prev {
    background: url(../images/left-arrow.png) no-repeat;
    left: -50px;
}

.magazineCarousel.owl-carousel .owl-nav .owl-next {
    background: url(../images/right-arrow.png) no-repeat;
    right: -50px;
}

.magazineCarousel.owl-carousel .owl-nav .owl-prev,
.magazineCarousel.owl-carousel .owl-nav .owl-next {
    background-size: 35px;
    height: 75px;
    width: 35px;
    position: absolute;
    top: 40%;
}
//RESPONSIVE MAGAZINE CAROUSEL 
@media screen and (min-width: 1400px) {
    .magazineCarousel.owl-carousel .owl-nav .owl-prev,
    .magazineCarousel.owl-carousel .owl-nav .owl-next{
        background-size: 40px;
        height: 90px;
        width: 45px;}
    .magazineCarousel.owl-carousel .owl-nav .owl-prev {
        left: -10%;
    }
    .magazineCarousel.owl-carousel .owl-nav .owl-next {
        right: -10%;
    }
}
@media screen and (max-width:1199px){ 
    
    .magazineCarousel.owl-carousel .owl-nav .owl-prev {
        left: -35px;
    }
    .magazineCarousel.owl-carousel .owl-nav .owl-next {
        right: -35px;
    }
}
@media screen and (max-width: 991px) {
    .magazineCarousel.owl-carousel .owl-nav .owl-next {
        right: -4%;
    }
    .magazineCarousel.owl-carousel .owl-nav .owl-prev {
        left: -4%;
    }
}
@media screen and (max-width:767px){ 
    .magazineCarousel.owl-carousel .owl-nav {
        text-align: center;
    }
    .magazineCarousel.owl-carousel .owl-nav .owl-prev,
    .magazineCarousel.owl-carousel .owl-nav .owl-next {
       position: relative;
       top: 20px;
       background-size: 25px;
        height: 60px;
        width: 30px;
    }
    .magazineCarousel.owl-carousel .owl-nav .owl-prev {
        left: -5px;
    }
    .magazineCarousel.owl-carousel .owl-nav .owl-next {
        right: -5px;
    }
}

// Intro Carousel 
.introCarousel.owl-carousel.owl-drag .owl-item {
    padding: 0px 30px;
}

.introCarousel.owl-carousel .owl-nav .owl-prev {
    background: url(../images/white-arrow.png) no-repeat;
    left: -2%;
}

.introCarousel.owl-carousel .owl-nav .owl-next {
    background: url(../images/white-right-arrow.png) no-repeat;
    right: -2%;
}

.introCarousel.owl-carousel .owl-nav .owl-prev,
.introCarousel.owl-carousel .owl-nav .owl-next {
    background-size: 35px;
    height: 75px;
    width: 35px;
    position: absolute;
    top: 45%;
}
//RESPONSIVE Intro Carousel 
@media screen and (min-width: 1400px) {
    .introCarousel.owl-carousel .owl-nav .owl-prev,
    .introCarousel.owl-carousel .owl-nav .owl-next {
        background-size: 40px;
        height: 90px;
        width: 45px;}
    .introCarousel.owl-carousel .owl-nav .owl-prev {
        left: -10%;
    }
    
    .introCarousel.owl-carousel .owl-nav .owl-next {
        right: -10%;
    }
}
@media screen and (max-width: 1199px) {
    .introCarousel.owl-carousel.owl-drag .owl-item {
        padding: 0px 20px;
    }
  
    .introCarousel.owl-carousel .owl-nav .owl-prev {
        left: 5%;
    }
    
    .introCarousel.owl-carousel .owl-nav .owl-next {
        right: 5%;
    }
}
@media screen and (max-width: 991px) {
    .introCarousel.owl-carousel .owl-nav .owl-prev {
        left: 0%;
    }
    .introCarousel.owl-carousel .owl-nav .owl-next {
        right: 0%;
    }
}
@media screen and (max-width: 767px) {
    .introCarousel.owl-carousel .owl-nav {
        text-align: center;
    }
    .introCarousel.owl-carousel .owl-nav .owl-prev,
    .introCarousel.owl-carousel .owl-nav .owl-next {
       position: relative;
       top: 10px;
       background-size: 25px;
        height: 60px;
        width: 30px;
    }
    .introCarousel.owl-carousel .owl-nav .owl-prev {
        left: -5px;
    }
    .introCarousel.owl-carousel .owl-nav .owl-next {
        right: -5px;
    }
}
@media screen and (max-width: 575px) {
    .introCarousel.owl-carousel.owl-drag .owl-item {
        padding: 0px 10px;
    }
}

// genericCarousel CAROUSEL 
.genericCarousel.owl-carousel .item {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    height: 80vh;
}
.genericCarousel.owl-carousel .owl-nav .owl-prev {
    background: url(../images/white-arrow.png) no-repeat;
    left: 50px;
}
.genericCarousel.owl-carousel .owl-nav .owl-next {
    background: url(../images/white-right-arrow.png) no-repeat;
    right: 50px;
}
.genericCarousel.owl-carousel .owl-nav .owl-prev,
.genericCarousel.owl-carousel .owl-nav .owl-next {
    background-size: 35px;
    height: 75px;
    width: 35px;
    position: absolute;
    top: 45%;
}
//RESPONSIVE  genericCarousel CAROUSEL 
@media screen and (max-width: 991px) {
    .genericCarousel .item img {
        height: 500px;
    }
}
@media screen and (max-width: 575px) {
    .genericCarousel .item img {
        height: 400px;
    }
    .genericCarousel.owl-carousel .owl-nav .owl-prev,
    .genericCarousel.owl-carousel .owl-nav .owl-next {
        background-size: 25px;
    }
    .genericCarousel.owl-carousel .owl-nav .owl-prev {
        left: 20px;
    }
    .genericCarousel.owl-carousel .owl-nav .owl-next {
        right: 20px;
    }
}

// MAIN PAGES

//TEXTPAGE
.viewAlsoSection {
    background: url(../images/background-waves.png) no-repeat;
    background-size: 100px;
    padding-bottom: 50px;
    background-position-x: right;
    background-position-y: top;
}

.viewAlsoSection .title {
    font-size: 40px;
    line-height: 50px;
}

.viewAlsoSection ul {
    margin-top: 100px;
    padding-bottom: 60px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.viewAlsoSection ul li {
    cursor: pointer;
    transform: rotate(-90deg);
    transition: .3s linear;
}

.viewAlsoSection ul li a{
    color: var(--blue-color);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
}

.viewAlsoSection ul li a:hover{
    text-decoration: none;
}

.viewAlsoSection ul li:hover {
    transform: rotate(0deg);
}

.backgroundBig {
    background: url(../images/background-big.png) no-repeat;
    background-size: 850px;
    background-position-x: right;   
    padding-top: 120px;
}
//RESPONSIVE TEXTPAGE
@media screen and (max-width: 991px) {
    .backgroundBig {
        padding-top: 60px;
    }
    .backgroundBig .textpage {
        margin-top: 0px !important;
    }
}
@media screen and (max-width: 767px) {
    .viewAlsoSection {
        background-size: 50px;
    }
    .viewAlsoSection ul {
        margin-top: 40px;
    }
    .viewAlsoSection ul li {
        padding: 50px 0px;
        width: 50%;
    }
    .backgroundBig { 
        background: url(../images/background-big.png) no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 480px) {
    .viewAlsoSection .title {
        font-size: 28px;
        line-height: 40px;
    }
}

// SERVICES PAGE 
.servicesPage .item {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    height: 700px;
}

.servicesPage .discover {
    right: 10px;
}

.servicesPage .title {
    font-family: var(--fontBold);
    font-size: 22px;
    line-height: 30px;
    background: var(--white-minOpacity);
    width: 70%;
    padding: 20px 10px;
    position: relative;
    left: -45px;
    letter-spacing: 1.5px;
    text-transform: initial;
    cursor: pointer;
    transition: .3s linear;
}

.servicesPage .title:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    transition: .3s linear;
}

.servicesPage .item {
    padding-top: 50px;
}

.servicesPage .item p {
    background: var(--white-color);
    width: 415px;
    position: absolute;
    bottom: -20px;
    left: 45px;
}

.bgWaves {
    background: url(../images/background-waves.png) no-repeat; 
    background-position-x: right;
    background-position-y: 70%;
    background-size: 100px;
}

.bgWaves:last-child {
    background: url(../images/background-waves.png) no-repeat; 
    background-position-x: left;
    background-position-y: bottom;
    background-size: 100px;
}
//RESPONSIVE SERVICES PAGE 
@media screen and (max-width: 1199px) {
    .servicesPage .item  {
        height: 600px !important;
     }
    .servicesPage .item p {
        left: 48px;
        width: 340px;
    }
    .servicesPage .title {
        width: 80%;
    }
    .servicesPage .discover {
        right: 20px;
        bottom: 35px;
    }
    .bgWaves,.bgWaves:last-child {
        background-size: 70px;
    }
}
@media screen and (max-width: 991px) {
    .servicesPage .item  {
        height: 550px !important;
    }

    .servicesPage .item p {
        left: 45px;
    }
    .servicesPage .title {
        left: -40px;
        width: 50%;
    }
}
@media screen and (max-width: 767px) {
    .servicesPage .discover {
        right: -20px;
        transform: var(--rotate90degLeft);
        bottom: 45px !important;
    }
    .servicesPage .item p {
        left: 45px;
    }
    .servicesPage .title {
        width: 65%;
    }
}
@media screen and (max-width: 575px) {
    .servicesPage .discover {
        right: 15px;
        transform: none;
        bottom: 0px !important;
    }
    .servicesPage .item p {
        left: 14px;
        bottom: 30px;
        width: 265px;
    }
    .servicesPage .item  {
        height: 450px !important;
    }
    .servicesPage .item {
        padding-top: 20px;
    }
    .bgWaves,.bgWaves:last-child {
        padding-top: 10px;
        background-position-y: top; 
    }
    .bgWaves {
        background-position-x: right;
    }
    .bgWaves:last-child {
        background-position-x: left;
    }
    .servicesPage .title {
        left: -5px;
        width: 55%;
    }
}

// HOTELS PAGE 
.hotelsPage {
    position: relative;
}

.hotelsPage .container {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    height: 800px;
}

.hotelsPage .hotel-irini {
    background: url(../images/Logos/I.svg) no-repeat;
}

.hotelsPage .hotel-venus {
    background: url(../images/Logos/V.svg) no-repeat;  
}

.hotelsPage .hotel-kostas {
    background: url(../images/Logos/K.svg) no-repeat;
}

.hotelsPage .hotel-lifestyle {
    background: url(../images/Logos/L.svg) no-repeat;
}

.hotelsPage .hotel,.hotelsPage .revertHotel {
    background-position-y: top;
    padding-bottom: 180px;
    background-size: 300px;
}

.hotelsPage .hotel {
    background-position-x: -2%;
}

.hotelsPage .revertHotel {
    background-position-x: 102%;
}

.hotelsPage .hotel-box {
    background: var(--white-color);
    width: 60%;
    position: absolute;
    right: -2%;
    bottom: -25%;
}

.hotelsPage .revertHotel .hotel-box {
    left: -2%;
}

.hotelsPage .hotel-box .h1{
    margin-bottom: 0;
    height: 190px;
    line-height: 95px;
}

.hotelsPage .hotel .discover {
    right: -40px;
    bottom: 200px;
}

.hotelsPage .revertHotel .discover {
    right: -40px;
}
//RESPONSIVE HOTELS PAGE 
@media screen and (max-width:1500px) {
    .hotelsPage .container {
        height: 700px !important;
    }
    .hotelsPage .hotel, .hotelsPage .revertHotel{
        background-position-y: 100%;
        background-size: 100px;
        padding-bottom: 220px;
    }
    .hotelsPage .hotel {
        background-position-x: 0%;
    }
    .hotelsPage .revertHotel {
        background-position-x: 100%;
    }
    .hotelsPage .hotel .discover {
        bottom: 230px;
    }
}
@media screen and (max-width:1199px) {
    .hotelsPage .hotel-box .h1 {
        height: 115px;
        line-height: 55px;
    }
    .hotelsPage .hotel .discover {
        bottom: 180px;
        right: -25px;
    }
    .hotelsPage .revertHotel .discover {
        right: -25px;
        bottom: 35px;
    }
}
@media screen and (max-width:991px) {
    .hotelsPage .container {
        height: 500px !important;
    }
    .hotelsPage .hotel-box {
        width: 80%;
        bottom: -50%;
    }
    .hotelsPage .hotel .discover {
        bottom: 106px;
        right: -22px;
    }
}
@media screen and (max-width: 767px) {
    .hotelsPage .hotel .discover, .hotelsPage .revertHotel .discover {
        right: -65px;
        bottom: 100px !important;
        transform: rotate(-90deg);
    }
    .hotelsPage .revertHotel .discover {
        bottom: 45px !important;
    }
}
@media screen and (max-width: 575px) {
    .hotelsPage .revertHotel .discover {
        right: unset;
        bottom: -50% !important;
        left: 20px;
    }
    .hotelsPage .hotel .discover {
        bottom: -50% !important;
        right: 20px;
    }
    .hotelsPage .hotel-box {
        right: 0%;
        width: 100%;
        bottom: -40%;
    }
    .hotelsPage .revertHotel .hotel-box {
        left: 0%;
    }
    .hotelsPage .hotel, .hotelsPage .revertHotel {
        background-position-y: 0%;
        padding-top: 100px;
        background-size: 50px;
        padding-bottom: 240px;
        margin-top: 0px;
    }
    .hotelsPage .hotel-box .h1 {
        height: 70px;
        line-height: 35px;
    }
    .hotelsPage .container {
        height: 400px !important;
    }
}